<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Check the weather of any location:</p>
        <form>
            <input id="locSearch" type="text" placeholder="Location">
            <button>search</button>
        </form>
        <p id="locationData"></p>
        <p id="weatherData"></p>
    </div>
    {{>footer}}
</body>
<script src="/js/main.js"></script>

</html>